*.ko
*.o
*.mod
*.mod.o
*.mod.c
*.symvers
*.order
*.o.d
*.mod*.cmd
.*.cmd
*.img
*.iso
*.qcow2
node_modules/
package-lock.json
package.json
ninja.log
temp/
openwrt/
buildroot/
qemu
qemu/
qemu_*

openwrt-*
openwrt-21.02.0-armvirt-64-rootfs-ext4.img.gz
